---
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Stefano Garavelli</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script type="text/javascript">
        (function() {
          var d=document, e=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          e.type='text/javascript'; e.async=true; e.defer=true;
          e.setAttribute('src', 'https://scripts.reachoutapp.io/rot.js');
          e.setAttribute('data-website-id', '64d7f2d6-8b83-4f7c-b3a4-0b6657c975cf');
          s.parentNode.insertBefore(e,s);
        })();
      </script>
    <ViewTransitions />
</head>
