---
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Stefano Garavelli</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
</head>
