---
import { Image } from 'astro:assets';
import avatarImage from '../assets/stefano-garavelli.jpg'
---

<header class="absolute inset-x-0 top-0 z-50">
    <nav class="mt-8 mx-auto flex max-w-6xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="h-16 w-16">
          <Image
          src={avatarImage}
          width={80}
          height={80}
          alt="Stefano Garavelli"
          class="rounded-full"
          />
        </a>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/about" class="text-md font-semibold leading-6 text-slate-700">About</a>
        <a href="https://on.contra.com/fmKMct" target="_blank" class="text-md font-semibold leading-6 text-slate-700">Hire me</a>
        <a href="https://calendar.app.google/ETbCsPx3SqdU7CtN8" target="_blank" class="text-md font-semibold leading-6 text-slate-700">Ask me anything</a>
      </div>
    </nav>
  </header>