---
import { Image } from "astro:assets";
import avatarImage from "../assets/stefano-garavelli.jpg";
---

<div class="bg-white">
  <div
    class="pt-48 pb-16 px-8 lg:px-0 relative isolate overflow-hidden bg-gradient-to-b from-slate-100/20"
  >
    <div
      class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:-mr-80 lg:-mr-96"
      aria-hidden="true"
    >
    </div>
    <div class="mx-auto max-w-6xl pt-32">
      <div
        class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8"
      >
        <div>
          <h1
            class="lg:text-8xl text-6xl font-bold tracking-tight text-slate-700 lg:col-span-2 xl:col-auto"
          >
            Stefano Garavelli
          </h1>
          <h2 class="mt-16 text-2xl font-bold leading-8 text-slate-700">
            Product Owner and Technical Team Leader.<br /><span
              class="text-blue-700">Digital Marketing and Publishing.</span
            >
          </h2>
        </div>
        <div class="mt-16 max-w-xl xl:col-end-1 xl:row-start-1">
          <ul class="text-lg font-bold text-slate-500">
            <li>
              Technical Team Leader:<span class="font-medium">
                Web apps, DevOps</span
              >
            </li>
            <li>
              Frontend developer:<span class="font-medium">
                Next.js, Astro</span
              >
            </li>
            <li>
              System engineer:<span class="font-medium">
                AWS, Linux, Performance & Scalability</span
              >
            </li>
          </ul>
          <div class="mt-10 flex items-center gap-x-6">
            <a
              href="https://on.contra.com/fmKMct"
              target="_blank"
              class="rounded-md bg-slate-600 px-5 py-3.5 m-2 text-md font-semibold text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
              >Hire me</a
            >
            <a
              href="https://calendar.app.google/ETbCsPx3SqdU7CtN8"
              target="_blank"
              class="text-md font-semibold leading-6 text-slate-700"
              >Ask me anything <span aria-hidden="true">→</span></a
            >
          </div>
        </div>
        <Image
          src={avatarImage}
          width={268}
          height={402}
          decoding="async"
          loading="lazy"
          alt=""
          class="mx-auto lg:mx-16 aspect-[2/3] h-auto w-auto rounded-md object-contain xl:row-span-2 xl:row-end-2"
        />
      </div>
      <div
        class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"
      >
      </div>
    </div>
  </div>
</div>
